<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-title>
      Noticias TOP
    </ion-title>
  </ion-toolbar>


  <ion-segment scrollable mode='md' color="primary">

    <ion-segment-button mode='md' [value]='category' *ngFor="let category of categorias">
      <ion-label text-capitalize>{{category}}</ion-label>
    </ion-segment-button>

  </ion-segment>

</ion-header>

<ion-content color="dark">
  <!-- <ion-list>

    <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
      <ion-label>
        <h3>
          <ion-skeleton-text animated width="70%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated width="100%"></ion-skeleton-text>
        </p>
      </ion-label>
      <ion-label slot="end">
        <ion-skeleton-text animated width="45px" float-right></ion-skeleton-text>
      </ion-label>
    </ion-item>

  </ion-list> -->

</ion-content>